/* 
    Kelihatannya kita perlu color template (Suggestion)

    #114B5F , #028090 , #E4FDE1 , #456990 , #F45B69 -Sultan (Sakura-Blue)
    #ff6b35, #f7c59f, #efefd0, #004e89, #1a659e -Sultan (Orange-Blue)
*/

/* variabel */
:root {
    /* color var */
    --orange1 : #ff6b35;
    --orange2 : #f7c59f;
    --orange3 : #efefd0;

    /* boder radius var */
    --edge-boder : 25px;
}

/* Body */
body{
    display: flex;
    justify-content: center;
    align-items: center;

    /* Style Background */
    background: linear-gradient(to bottom right, var(--orange1), var(--orange2), var(--orange3)) ;
    background-size: 400%, 400%;
    animation: gradient 10s ease infinite;

    height: 100vh;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* fix bug bagian bawah back terpotong, idk what did it do */
}
/* Keyframes untuk gradient background */
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.output{
    /* text-align: end; */
    font-size: 48px;
    letter-spacing: 0.05cm;

    filter: drop-shadow(0px, 50px, black);

    margin: 0%;
    width: 420px;
    height: 180px;
    border-top-left-radius: var(--edge-boder);
    border-top-right-radius: var(--edge-boder);
    background-color: var(--orange1);
}


/* Body Kalkulator belakang (kyknya cuma template???? kyknya g guna?)  */
.kalkulator{
    background-color: red;
    height: 600px/2;
    width: 420px/2;
    border-radius: var(--edge-boder);
}

/* Beda ini sama button apa??? */
.tombol-calc{
    display: flex;
    flex-wrap: wrap;
    width: 420px;
    
    /* margin-left: 66px; */
}

/* Style Button Operand Samping */
.operatorButton{
    width: 66px;
    background-color: var(--orange1);
    color: var(--orange2);
}

/* Style Button Utama */
button{
    font-size: 20px;
    color: var(--orange1);
    border: none;
    width: 118px;
    height: 105px;
    margin: 0%;
    background-color: var(--orange2);
}

/* 2 Button style atas */
.topButton{
    width: 66px;
    height: 90px;
    flex-wrap: wrap;
    margin: 0%;
    border: none;
    
    background-color: var(--orange3);
}

/* Still In Progress - Memisahkan agar tombol align kiri sedangkan text align kanan */
.curOperand.prevOperand{
    text-align: end;
}




/* Style Output Kalkulator */
/* .output-calc{
    font-size: 50px;
    grid-column: 1 / -1;
    background-color: gray;
    display: flex;
} */

/* Style Body */
/* .calculatorBody{
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    grid-template-columns: repeat(4,200px);
    grid-template-rows: auto;
} */

/* Style Tombol Kalkulator */
/* .calculatorBody button{
    color: white;
    background-color: #01161E;
    cursor: pointer;
    font-size: 100px;
    border: none;
} */

/* Style Tombol Kalkulator ketika di hover */
/* .calculatorBody button:hover{
    background-color: #598392;
} */

/* Span untuk tombol clear dan backspace??? */
/* .span-button{
    grid-column: span 2;
} */

/* I had no idea what is this thing do? */
/* .operation-button{
    font-size: 20px;
} */